@page "/"

<PageTitle>ControlR</PageTitle>

<div class="text-center mt-5">
    <div>
        <div class="d-inline-block rounded-2 bg-dark-subtle p-5">
            <h1>
                ControlR
                <img src="/assets/appicon.svg" class="logo" />
            </h1>

            <div class="lead text-muted">
                Zero-trust remote control
            </div>
        </div>
    </div>

    <div class="mt-5">
       <div>
            <h4 class="text-success">
                Viewer
            </h4>
            <h6>
                Windows 10/11
            </h6>
            <div>
                <a class="btn btn-primary" href="/downloads/ControlR.Viewer.msix">MSIX</a>
            </div>
            <h6 class="mt-3">
                Android
            </h6>
            <div>
                <div>
                    <a class="btn btn-primary" href="/downloads/ControlR.Viewer.apk">APK</a>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h4 class="text-success">
                Agent Installer
            </h4>
            <h6>
                (PowerShell on Windows/Linux)
            </h6>
            <input class="form-control ps-snippet d-inline-block" readonly />
        </div>
    </div>
</div>